*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}
.main {
    width: 100%;
    min-height: 100vh;
    background: rgba(230, 235, 235);
    position: relative;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    background: rgba(230, 235, 235);
    padding: 0 40px;
}

.navbar img {
    height: 70px;
    margin-left: 20px;
}

.nav-menu {
    display: flex;
    margin-left: auto; /* INI KUNCINYA */
    gap: 20px;
}

.nav-menu h1 {
    font-size: 15px;
    color: rgb(0, 50, 55);
    font-family: Poppins, sans-serif;
    cursor: pointer;
    margin-right:20px;
    margin-top: 10px;
}

.nav-menu button {
    padding: 10px 20px;
    background-color: rgb(175, 235, 0);
    color: rgb(0, 50, 55);
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-family: Poppins, sans-serif;
}

.content1{
    background-color: rgb(0, 50, 55);
    height: 60%;
    width: 100%;
    text-align: center;
      display: flex;
    flex-direction: column;
    justify-content: center;
}

.content1 h1 {
    font-size: 3.2em;
    color: rgba(230, 235, 235);
    font-family: Poppins, sans-serif;
    font-weight: 900;
    margin-top: 70px;
}

.content1 h2 {
    font-size: 3.2em;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    background: linear-gradient(
        90deg,
        rgb(176, 227, 24),
        rgb(78, 205, 196)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.content1 button{
    border:none;
    color: rgb(0, 50, 55);
    margin-top: 15px;
    background-color: rgb(175, 235, 0);
    padding: 15px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.content1 p {
    font-size: 1em;
    letter-spacing: 1px;
    margin: 20px 0;
    color: rgba(230, 235, 235);
    font-family: Poppins, sans-serif;
    font-weight: 100;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    padding: 80px 80px;
    background-color: rgb(0, 50, 55); 
}

.card {
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 16px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
    font-family: Poppins, sans-serif;
    color: rgb(0, 50, 55);
}

.card p {
    margin: 0;
    font-size: 0.95em;
    line-height: 1.6;
    color: #555;
    font-family: Poppins, sans-serif;

}

@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }
}





